# Install pre-commit hooks via
# pre-commit install

exclude: >
    (?x)^(
      \.vscode/settings\.json|
      tests/.*xml|
      tests/.*txt|
    )$

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.2
    hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear~=22.7]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      additional_dependencies: []

  - repo: local
    hooks:
    - id: css
      name: css
      description: Compile the SCSS/SASS files to CSS inside the python package
      files: \.(scss|sass)$
      language: node
      additional_dependencies: ['sass@1.35.2']
      # entry: sass
      entry: npm run css
      require_serial: true
      pass_filenames: false
      # args: [--style=compressed, --no-source-map, style/index.scss, sphinx_design/compiled/style.min.css]
