$pad-width: (
  "0": 0,
  "1": .25rem,
  "2": .5rem,
  "3": 1rem,
  "4": 1.5rem,
  "5": 3rem,
) !default;

@each $id, $value in $pad-width {
  .sd-p-#{$id} {
    padding: $value !important;
  }

  .sd-pt-#{$id},
  .sd-py-#{$id} {
    padding-top: $value !important;
  }

  .sd-pr-#{$id},
  .sd-px-#{$id} {
    padding-right: $value !important;
  }

  .sd-pb-#{$id},
  .sd-py-#{$id} {
    padding-bottom: $value !important;
  }

  .sd-pl-#{$id},
  .sd-px-#{$id} {
    padding-left: $value !important;
  }
}

@each $id, $value in $pad-width {
  .sd-m-#{$id} {
    margin: $value !important;
  }

  .sd-mt-#{$id},
  .sd-my-#{$id} {
    margin-top: $value !important;
  }

  .sd-mr-#{$id},
  .sd-mx-#{$id} {
    margin-right: $value !important;
  }

  .sd-mb-#{$id},
  .sd-my-#{$id} {
    margin-bottom: $value !important;
  }

  .sd-ml-#{$id},
  .sd-mx-#{$id} {
    margin-left: $value !important;
  }
}
