.mui-text-justify {
  text-align: justify !important;
}

.mui-text-left {
  text-align: left !important;
}

.mui-text-right {
  text-align: right !important;
}

.mui-text-center {
  text-align: center !important;
}

.mui-font-weight-light {
  font-weight: 300 !important;
}

.mui-font-weight-lighter {
  font-weight: lighter !important;
}

.mui-font-weight-normal {
  font-weight: 400 !important;
}

.mui-font-weight-bold {
  font-weight: 700 !important;
}

.mui-font-weight-bolder {
  font-weight: bolder !important;
}

.mui-font-italic {
  font-style: italic !important;
}
